In [2]:
!pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.0.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /home/anwer/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/anwer/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Downloading numpy-2.0.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.0/19.0 MB 78.6 MB/s eta 0:00:00:00:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 85.6 MB/s eta 0:00:00
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [19]:
individual_meta_data = pd.read_csv('/12tb_dsk1/common_data/single_cell_data/meta_data_single_cell/MIT_ROSMAP_Multiomics_individual_metadata.csv')

In [20]:
individual_meta_data

,individualID,individualIdSource,species,sex,race,ethnicity,yearsEducation,ageDeath,causeDeath,mannerDeath,apoeGenotype,pmi,pH,brainWeight,diagnosis,diagnosisCriteria,CERAD,Braak,subject
0,R2626559,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROSMAP-45310
1,R9936070,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROSMAP-34387
2,R2367199,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROSMAP-69520
3,R9891381,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROSMAP-53306
4,R9033345,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROSMAP-79585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,R9738414,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROSMAP-90149
510,R7737688,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,R7844746,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,R6692433,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,R5309342,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
assay_meta_data = pd.read_csv('/12tb_dsk1/common_data/single_cell_data/meta_data_single_cell/MIT_ROSMAP_Multiomics_assay_snATACseq_metadata.csv')

In [22]:
assay_meta_data

,assay,libraryID,sequencingBatch,runType,readLength,platform,libraryPreparationMethod,specimenID,referenceSet,transposaseBatch,pcrCycles,isStranded,readStrandOrigin,meanCoverage,meanGCContent
0,snATACSeq,D19-13166,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R1042011.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,snATACSeq,D19-12701,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R1154454.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,snATACSeq,D19-12703,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R1213305.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,snATACSeq,D19-13174,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R1213305.184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,snATACSeq,D19-12524,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R1407047.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,snATACSeq,D19-12520,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R9677385.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,snATACSeq,D19-12532,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R9781891.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,snATACSeq,D19-12514,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R9810713.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,snATACSeq,D19-125458,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R9880904.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,snATACSeq,D19-13178,191203Kel,pairedEnd,50,IlluminaNovaseq6000,10x,R9891381.183,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
assay_meta_data.columns

Index(['assay', 'libraryID', 'sequencingBatch', 'runType', 'readLength',
       'platform', 'libraryPreparationMethod', 'specimenID', 'referenceSet',
       'transposaseBatch', 'pcrCycles', 'isStranded', 'readStrandOrigin',
       'meanCoverage', 'meanGCContent'],
      dtype='object')

In [25]:
clinical_data = pd.read_csv('../../common_data/ROSMAP_DATA/RSP_CL.csv')

In [26]:
clinical_data

,projid,Study,msex,educ,race,spanish,apoe_genotype,age_at_visit_max,age_first_ad_dx,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,pmi,braaksc,ceradsc,cogdx,dcfdx_lv,individualID
0,10101589,ROS,1.0,20.0,1.0,2.0,34.0,90+,90+,90+,18.0,5.0,9.916667,4.0,2.0,4.0,4.0,R6939144
1,86767530,MAP,0.0,10.0,1.0,2.0,33.0,90+,90+,90+,18.0,10.0,6.500000,4.0,2.0,4.0,4.0,R3893503
2,9650662,MAP,0.0,15.0,1.0,2.0,23.0,90+,90+,90+,0.0,0.0,3.850000,3.0,2.0,4.0,4.0,R8937093
3,50402855,MAP,0.0,21.0,1.0,2.0,33.0,90+,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,1.0,R7139444
4,20544321,ROS,0.0,16.0,1.0,2.0,23.0,90+,90+,NaN,13.0,14.0,NaN,NaN,NaN,NaN,4.0,R4971237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3579,22207815,ROS,0.0,18.0,2.0,2.0,23.0,57.653661875427787,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,1.0,R5306025
3580,22207941,ROS,0.0,16.0,2.0,2.0,34.0,56.651608487337441,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,1.0,R6142763
3581,49333806,MAP,0.0,12.0,2.0,2.0,NaN,56.599589322381931,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,1.0,R4468842
3582,59720188,MAP,0.0,13.0,1.0,1.0,NaN,54.622861054072551,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,1.0,R9446033
3583,90214403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R5615105

In [27]:
merged_metadata = pd.merge(individual_meta_data, clinical_data, on='individualID', how='inner', suffixes=('_df1', '_df2'))

In [28]:
merged_metadata

,individualID,individualIdSource,species,sex,race_df1,ethnicity,yearsEducation,ageDeath,causeDeath,mannerDeath,...,age_at_visit_max,age_first_ad_dx,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,pmi_df2,braaksc,ceradsc,cogdx,dcfdx_lv
0,R2626559,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,...,85.248459958932244,NaN,85.549623545516766,NaN,24.0,6.500000,1.0,4.0,4.0,4.0
1,R9936070,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,...,73.489390828199859,NaN,74.450376454483234,NaN,27.0,7.016667,2.0,2.0,3.0,3.0
2,R2367199,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,...,87.668720054757017,NaN,87.928815879534568,NaN,30.0,4.333333,4.0,2.0,1.0,1.0
3,R9891381,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,...,90+,NaN,90+,NaN,22.0,6.916667,2.0,1.0,2.0,2.0
4,R9033345,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,...,90+,NaN,90+,NaN,22.0,4.166667,5.0,1.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,R9738414,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,...,90+,NaN,90+,NaN,19.0,9.250000,2.0,4.0,2.0,2.0
510,R7737688,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,...,83.132101300479121,77.097878165639969,84.10403832991102,20.0,3.0,7.000000,6.0,1.0,4.0,4.0
511,R7844746,Rush,Human,male,NaN,NaN,NaN,NaN,NaN,NaN,...,90+,NaN,90+,NaN,29.0,0.866667,5.0,2.0,2.0,2.0
512,R6692433,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,...,82.346338124572213,NaN,82.71594798083504,NaN,27.0,6.583333,2.0,4.0,1.0,1.0
513,R5309342,Rush,Human,female,NaN,NaN,NaN,NaN,NaN,NaN,...,78.976043805612591,78.976043805612591,81.032169746748806,25.0,25.0,7.733333,5.0,1.0,4.0,4.0

In [29]:
merged_metadata.columns

Index(['individualID', 'individualIdSource', 'species', 'sex', 'race_df1',
       'ethnicity', 'yearsEducation', 'ageDeath', 'causeDeath', 'mannerDeath',
       'apoeGenotype', 'pmi_df1', 'pH', 'brainWeight', 'diagnosis',
       'diagnosisCriteria', 'CERAD', 'Braak', 'subject', 'projid', 'Study',
       'msex', 'educ', 'race_df2', 'spanish', 'apoe_genotype',
       'age_at_visit_max', 'age_first_ad_dx', 'age_death',
       'cts_mmse30_first_ad_dx', 'cts_mmse30_lv', 'pmi_df2', 'braaksc',
       'ceradsc', 'cogdx', 'dcfdx_lv'],
      dtype='object')

In [42]:
merged_metadata.cts_mmse30_first_ad_dx

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
509     NaN
510    20.0
511     NaN
512     NaN
513    25.0
Name: cts_mmse30_first_ad_dx, Length: 514, dtype: float64

In [48]:
merged_metadata = merged_metadata[['individualID', 'individualIdSource', 'sex',
       'ethnicity',
        'subject', 'projid', 'Study',
       'msex', 'educ', 'spanish', 'apoe_genotype',
       'age_at_visit_max', 'age_first_ad_dx', 'age_death',
       'cts_mmse30_first_ad_dx', 'cts_mmse30_lv', 'braaksc',
       'ceradsc', 'cogdx', 'dcfdx_lv']]

In [49]:
merged_metadata

,individualID,individualIdSource,sex,ethnicity,subject,projid,Study,msex,educ,spanish,apoe_genotype,age_at_visit_max,age_first_ad_dx,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,braaksc,ceradsc,cogdx,dcfdx_lv
0,R2626559,Rush,male,NaN,ROSMAP-45310,1211411,ROS,1.0,12.0,2.0,NaN,85.248459958932244,NaN,85.549623545516766,NaN,24.0,1.0,4.0,4.0,4.0
1,R9936070,Rush,male,NaN,ROSMAP-34387,2899847,MAP,1.0,14.0,2.0,33.0,73.489390828199859,NaN,74.450376454483234,NaN,27.0,2.0,2.0,3.0,3.0
2,R2367199,Rush,male,NaN,ROSMAP-69520,3713990,MAP,1.0,12.0,2.0,33.0,87.668720054757017,NaN,87.928815879534568,NaN,30.0,4.0,2.0,1.0,1.0
3,R9891381,Rush,female,NaN,ROSMAP-53306,3889845,MAP,0.0,13.0,2.0,34.0,90+,NaN,90+,NaN,22.0,2.0,1.0,2.0,2.0
4,R9033345,Rush,male,NaN,ROSMAP-79585,6107196,MAP,1.0,15.0,2.0,33.0,90+,NaN,90+,NaN,22.0,5.0,1.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,R9738414,Rush,female,NaN,ROSMAP-90149,20976799,ROS,0.0,18.0,2.0,33.0,90+,NaN,90+,NaN,19.0,2.0,4.0,2.0,2.0
510,R7737688,Rush,female,NaN,NaN,69866926,MAP,0.0,13.0,2.0,34.0,83.132101300479121,77.097878165639969,84.10403832991102,20.0,3.0,6.0,1.0,4.0,4.0
511,R7844746,Rush,male,NaN,NaN,29286432,ROS,1.0,24.0,2.0,34.0,90+,NaN,90+,NaN,29.0,5.0,2.0,2.0,2.0
512,R6692433,Rush,female,NaN,NaN,48331728,MAP,0.0,14.0,2.0,33.0,82.346338124572213,NaN,82.71594798083504,NaN,27.0,2.0,4.0,1.0,1.0
513,R5309342,Rush,female,NaN,NaN,10371937,MAP,0.0,18.0,2.0,34.0,78.976043805612591,78.976043805612591,81.032169746748806,25.0,25.0,5.0,1.0,4.0,4.0

In [52]:
def return_clinical_AD(x):
    if x == 1.0:
        return 'NCI'
    elif x == 4.0:
        return 'AD'
    elif x == 5.0:
        return 'AD'
    else:
        return False

In [53]:
merged_metadata['clinical_diagnosis'] = merged_metadata.cogdx.apply(return_clinical_AD)

/tmp/ipykernel_318587/934113341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_metadata['clinical_diagnosis'] = merged_metadata.cogdx.apply(return_clinical_AD)

In [54]:
merged_metadata

,individualID,individualIdSource,sex,ethnicity,subject,projid,Study,msex,educ,spanish,...,age_at_visit_max,age_first_ad_dx,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,braaksc,ceradsc,cogdx,dcfdx_lv,clinical_diagnosis
0,R2626559,Rush,male,NaN,ROSMAP-45310,1211411,ROS,1.0,12.0,2.0,...,85.248459958932244,NaN,85.549623545516766,NaN,24.0,1.0,4.0,4.0,4.0,AD
1,R9936070,Rush,male,NaN,ROSMAP-34387,2899847,MAP,1.0,14.0,2.0,...,73.489390828199859,NaN,74.450376454483234,NaN,27.0,2.0,2.0,3.0,3.0,False
2,R2367199,Rush,male,NaN,ROSMAP-69520,3713990,MAP,1.0,12.0,2.0,...,87.668720054757017,NaN,87.928815879534568,NaN,30.0,4.0,2.0,1.0,1.0,NCI
3,R9891381,Rush,female,NaN,ROSMAP-53306,3889845,MAP,0.0,13.0,2.0,...,90+,NaN,90+,NaN,22.0,2.0,1.0,2.0,2.0,False
4,R9033345,Rush,male,NaN,ROSMAP-79585,6107196,MAP,1.0,15.0,2.0,...,90+,NaN,90+,NaN,22.0,5.0,1.0,4.0,4.0,AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,R9738414,Rush,female,NaN,ROSMAP-90149,20976799,ROS,0.0,18.0,2.0,...,90+,NaN,90+,NaN,19.0,2.0,4.0,2.0,2.0,False
510,R7737688,Rush,female,NaN,NaN,69866926,MAP,0.0,13.0,2.0,...,83.132101300479121,77.097878165639969,84.10403832991102,20.0,3.0,6.0,1.0,4.0,4.0,AD
511,R7844746,Rush,male,NaN,NaN,29286432,ROS,1.0,24.0,2.0,...,90+,NaN,90+,NaN,29.0,5.0,2.0,2.0,2.0,False
512,R6692433,Rush,female,NaN,NaN,48331728,MAP,0.0,14.0,2.0,...,82.346338124572213,NaN,82.71594798083504,NaN,27.0,2.0,4.0,1.0,1.0,NCI
513,R5309342,Rush,female,NaN,NaN,10371937,MAP,0.0,18.0,2.0,...,78.976043805612591,78.976043805612591,81.032169746748806,25.0,25.0,5.0,1.0,4.0,4.0,AD

In [55]:
def return_pathological_AD(x):
    if x == 1.0:
        return 'AD'
    elif x == 4.0:
        return 'No AD'
    else:
        return False

In [56]:
merged_metadata['pathological_diagnosis'] = merged_metadata.ceradsc.apply(return_pathological_AD)

/tmp/ipykernel_318587/1882539136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_metadata['pathological_diagnosis'] = merged_metadata.ceradsc.apply(return_pathological_AD)

In [57]:
merged_metadata

,individualID,individualIdSource,sex,ethnicity,subject,projid,Study,msex,educ,spanish,...,age_first_ad_dx,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,braaksc,ceradsc,cogdx,dcfdx_lv,clinical_diagnosis,pathological_diagnosis
0,R2626559,Rush,male,NaN,ROSMAP-45310,1211411,ROS,1.0,12.0,2.0,...,NaN,85.549623545516766,NaN,24.0,1.0,4.0,4.0,4.0,AD,No AD
1,R9936070,Rush,male,NaN,ROSMAP-34387,2899847,MAP,1.0,14.0,2.0,...,NaN,74.450376454483234,NaN,27.0,2.0,2.0,3.0,3.0,False,False
2,R2367199,Rush,male,NaN,ROSMAP-69520,3713990,MAP,1.0,12.0,2.0,...,NaN,87.928815879534568,NaN,30.0,4.0,2.0,1.0,1.0,NCI,False
3,R9891381,Rush,female,NaN,ROSMAP-53306,3889845,MAP,0.0,13.0,2.0,...,NaN,90+,NaN,22.0,2.0,1.0,2.0,2.0,False,AD
4,R9033345,Rush,male,NaN,ROSMAP-79585,6107196,MAP,1.0,15.0,2.0,...,NaN,90+,NaN,22.0,5.0,1.0,4.0,4.0,AD,AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,R9738414,Rush,female,NaN,ROSMAP-90149,20976799,ROS,0.0,18.0,2.0,...,NaN,90+,NaN,19.0,2.0,4.0,2.0,2.0,False,No AD
510,R7737688,Rush,female,NaN,NaN,69866926,MAP,0.0,13.0,2.0,...,77.097878165639969,84.10403832991102,20.0,3.0,6.0,1.0,4.0,4.0,AD,AD
511,R7844746,Rush,male,NaN,NaN,29286432,ROS,1.0,24.0,2.0,...,NaN,90+,NaN,29.0,5.0,2.0,2.0,2.0,False,False
512,R6692433,Rush,female,NaN,NaN,48331728,MAP,0.0,14.0,2.0,...,NaN,82.71594798083504,NaN,27.0,2.0,4.0,1.0,1.0,NCI,No AD
513,R5309342,Rush,female,NaN,NaN,10371937,MAP,0.0,18.0,2.0,...,78.976043805612591,81.032169746748806,25.0,25.0,5.0,1.0,4.0,4.0,AD,AD

In [60]:
def return_clinical_pathological_AD(x):
    if x['cogdx'] == 1.0 and x['ceradsc'] == 4.0:
        return 'NCI_with_No_Plaques'
    elif x['cogdx'] == 4.0 and x['ceradsc'] == 1.0:
        return 'AD_with_Plaques'
    else:
        return False

In [63]:
merged_metadata['clinical_pathological_AD'] = merged_metadata.apply(return_clinical_pathological_AD,axis=1)

/tmp/ipykernel_318587/1992285972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_metadata['clinical_pathological_AD'] = merged_metadata.apply(return_clinical_pathological_AD,axis=1)

In [69]:
import numpy as np
def return_age_death(x):
    if x == '90+':
        return 90
    else:
        return np.float64(x)

merged_metadata['age_death'] = merged_metadata.age_death.apply(return_age_death)

/tmp/ipykernel_318587/3874946958.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_metadata['age_death'] = merged_metadata.age_death.apply(return_age_death)

In [70]:
merged_metadata.to_csv('/12tb_dsk1/danish/preprocessed_data/clinical/clinical_single_cell.csv', index = False)

In [71]:
merged_metadata

,individualID,individualIdSource,sex,ethnicity,subject,projid,Study,msex,educ,spanish,...,age_death,cts_mmse30_first_ad_dx,cts_mmse30_lv,braaksc,ceradsc,cogdx,dcfdx_lv,clinical_diagnosis,pathological_diagnosis,clinical_pathological_AD
0,R2626559,Rush,male,NaN,ROSMAP-45310,1211411,ROS,1.0,12.0,2.0,...,85.549624,NaN,24.0,1.0,4.0,4.0,4.0,AD,No AD,False
1,R9936070,Rush,male,NaN,ROSMAP-34387,2899847,MAP,1.0,14.0,2.0,...,74.450376,NaN,27.0,2.0,2.0,3.0,3.0,False,False,False
2,R2367199,Rush,male,NaN,ROSMAP-69520,3713990,MAP,1.0,12.0,2.0,...,87.928816,NaN,30.0,4.0,2.0,1.0,1.0,NCI,False,False
3,R9891381,Rush,female,NaN,ROSMAP-53306,3889845,MAP,0.0,13.0,2.0,...,90.000000,NaN,22.0,2.0,1.0,2.0,2.0,False,AD,False
4,R9033345,Rush,male,NaN,ROSMAP-79585,6107196,MAP,1.0,15.0,2.0,...,90.000000,NaN,22.0,5.0,1.0,4.0,4.0,AD,AD,AD_with_Plaques
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,R9738414,Rush,female,NaN,ROSMAP-90149,20976799,ROS,0.0,18.0,2.0,...,90.000000,NaN,19.0,2.0,4.0,2.0,2.0,False,No AD,False
510,R7737688,Rush,female,NaN,NaN,69866926,MAP,0.0,13.0,2.0,...,84.104038,20.0,3.0,6.0,1.0,4.0,4.0,AD,AD,AD_with_Plaques
511,R7844746,Rush,male,NaN,NaN,29286432,ROS,1.0,24.0,2.0,...,90.000000,NaN,29.0,5.0,2.0,2.0,2.0,False,False,False
512,R6692433,Rush,female,NaN,NaN,48331728,MAP,0.0,14.0,2.0,...,82.715948,NaN,27.0,2.0,4.0,1.0,1.0,NCI,No AD,NCI_with_No_Plaques
513,R5309342,Rush,female,NaN,NaN,10371937,MAP,0.0,18.0,2.0,...,81.032170,25.0,25.0,5.0,1.0,4.0,4.0,AD,AD,AD_with_Plaques

In [73]:
merged_metadata.clinical_pathological_AD.value_counts()

clinical_pathological_AD
False                  327
NCI_with_No_Plaques     94
AD_with_Plaques         93
Name: count, dtype: int64